.container {
  color: rgba(0, 0, 0, 0.747);
  background-color: rgb(255, 255, 255);
  opacity: 80%;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  padding: 5px 10px;
  max-width: 650px;
  margin-top: 60px;
}
