.App {
  font-family: sans-serif;
  text-align: center;
}

.currentWeather {
  list-style-type: none;
  display: block;
  margin: 0 auto;
  padding: 20px;
}
.currentWeather h3 {
  padding-left: 30px;
}