.Weather {
  border: solid 3px;
  margin: 30px auto;
  max-width: 600px;
  padding: 16px;
  border-radius: 7px;
}

.Weather ul {
  list-style: none;
}
.Weather h1 {
  font-size: 40px;
  color: rgb(85, 85, 85);
  line-height: 29px;
  margin: 20px 0 10px 0;
}
.Weather form {
  margin-bottom: 20px;
}

.searchbar {
  padding: 10px 50px;
  border-radius: 5px;
  margin-top: 5px;
}

.btn-primary {
  padding: 10px 30px;
  margin-top: 5px;
}

.Weather .temp {
  font-weight: bold;
  font-size: 50px;
  margin-left: 20px;
 
}
#Weather canvas {
  height: 200px;
  width: 200px;
  margin-right: 10px;
  display: inline-block;
}

.Weather .unit {
  position: relative;
  top: -24px;
  margin-left: 5px;
}
